<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.wst.web.ui.webDevPerspective">
         <perspectiveShortcut id="org.eclipse.actf.visualization.ui.perspectives.HTMLPerspective"/>
         <view
               id="org.eclipse.actf.visualization.ui.report.views.SummaryReportView"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="org.eclipse.actf.visualization.ui.report.views.DetailedReportView"
               relationship="stack"
               relative="org.eclipse.actf.visualization.ui.report.views.SummaryReportView">
         </view>
         <view
               id="org.eclipse.actf.visualization.blind.ui.views.BlindView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="true">
         </view>
         <view
               id="org.eclipse.actf.visualization.lowvision.ui.views.LowVisionView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.actf.visualization.blind.ui.views.BlindView"
               visible="true">
         </view>   
         <actionSet id="org.eclipse.actf.model.ui.editors.ie.actionSet"/>
         <actionSet id="org.eclipse.actf.visualization.blind.actionSet"/>
         <actionSet id="org.eclipse.actf.visualization.lowvision.actionSet"/>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jst.j2ee.J2EEPerspective">
         <perspectiveShortcut id="org.eclipse.actf.visualization.ui.perspectives.HTMLPerspective"/>
         <view
               id="org.eclipse.actf.visualization.ui.report.views.SummaryReportView"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="org.eclipse.actf.visualization.ui.report.views.DetailedReportView"
               relationship="stack"
               relative="org.eclipse.actf.visualization.ui.report.views.SummaryReportView">
         </view>
         <view
               id="org.eclipse.actf.visualization.blind.ui.views.BlindView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="true">
         </view>
         <view
               id="org.eclipse.actf.visualization.lowvision.ui.views.LowVisionView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.actf.visualization.blind.ui.views.BlindView"
               visible="true">
         </view>   
         <actionSet id="org.eclipse.actf.model.ui.editors.ie.actionSet"/>
         <actionSet id="org.eclipse.actf.visualization.blind.actionSet"/>
         <actionSet id="org.eclipse.actf.visualization.lowvision.actionSet"/>
      </perspectiveExtension>
   </extension>
</plugin>
