<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.php.perspective">
         <perspectiveShortcut id="org.eclipse.actf.visualization.ui.perspectives.HTMLPerspective"/>
         <view
               id="org.eclipse.actf.visualization.ui.report.views.SummaryReportView"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="org.eclipse.actf.visualization.ui.report.views.DetailedReportView"
               relationship="stack"
               relative="org.eclipse.actf.visualization.ui.report.views.SummaryReportView">
         </view>
         <view
               id="org.eclipse.actf.visualization.blind.ui.views.BlindView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="true">
         </view>
         <view
               id="org.eclipse.actf.visualization.lowvision.ui.views.LowVisionView"
               relationship="stack"
               relative="org.eclipse.actf.visualization.blind.ui.views.BlindView"
               visible="true">
         </view>   
         <actionSet id="org.eclipse.actf.model.ui.editors.ie.actionSet"/>
         <actionSet id="org.eclipse.actf.visualization.pdt.actionSet"/>
      </perspectiveExtension>
   </extension>
         <extension
            point="org.eclipse.ui.actionSets">
         <actionSet
               id="org.eclipse.actf.visualization.pdt.actionSet"
               label="%actf.action.visualize">
            <menu
            id="org.eclipse.actf.visualization.ui.pdt.menu"
         	label="%actf.visualization.menu">
         	</menu>
         	<action
         	class="org.eclipse.actf.visualization.internal.ui.pdt.SimulationActionForPdt"
         	id="org.eclipse.actf.visualization.ui.pdt.SimulationAction"
         	definitionId="org.eclipse.actf.visualization.ui.pdt.SimulationAction"
         	label="%actf.action.simulate"
         	menubarPath="org.eclipse.actf.visualization.ui.pdt.menu/"
         	toolbarPath="ACTF/visualization"
         	icon="icons/etool16/simulation.png"
         	style="push"/>
			<action
         	class="org.eclipse.actf.visualization.internal.ui.pdt.VisualizeActionForPdt"
         	id="org.eclipse.actf.visualization.ui.pdt.VisualizeAction"
         	definitionId="org.eclipse.actf.visualization.ui.pdt.VisualizeAction"
         	label="%actf.action.visualize"
         	menubarPath="org.eclipse.actf.visualization.ui.pdt.menu/"
         	toolbarPath="ACTF/visualization"
         	icon="icons/etool16/visualize.png"
         	style="push"/>
         </actionSet>
         </extension>  
</plugin>
