<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="targetWindowData" name="DataSource for Target Window" schema="schema/targetWindowData.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%Accessibility"
            id="org.eclipse.actf.visualization.gui.ui.views">
      </category>
      <view
            class="org.eclipse.actf.visualization.gui.ui.views.MSAAListView"
            icon="icons/view16/list.gif"
            id="org.eclipse.actf.visualization.gui.ui.views.MSAAListView"
            category="org.eclipse.actf.visualization.gui.ui.views"
            name="%MSAAListView.name"/>
      <view
            class="org.eclipse.actf.visualization.gui.ui.views.MSAAOutlineView"
            icon="icons/view16/outline.gif"
            id="org.eclipse.actf.visualization.gui.ui.views.MSAAOutlineView"
            category="org.eclipse.actf.visualization.gui.ui.views"
            name="%MSAAOutlineView.name"/>
      <view
            class="org.eclipse.actf.visualization.gui.ui.views.MSAAPropertiesView"
            icon="icons/view16/properties.gif"
            id="org.eclipse.actf.visualization.gui.ui.views.MSAAPropertiesView"
            category="org.eclipse.actf.visualization.gui.ui.views"
            name="%MSAAPropertiesView.name"/>
      <view
            class="org.eclipse.actf.visualization.gui.ui.views.JAWSTextView"
            icon="icons/view16/reader.gif"
            id="org.eclipse.actf.visualization.gui.ui.views.JAWSTextView"
            category="org.eclipse.actf.visualization.gui.ui.views"
            name="%JAWSTextView.name"/>
      <view
            class="org.eclipse.actf.visualization.gui.ui.views.MSAAEventView"
            icon="icons/view16/events.gif"
            id="org.eclipse.actf.visualization.gui.ui.views.MSAAEventView"
            category="org.eclipse.actf.visualization.gui.ui.views"
            name="%MSAAEventView.name"/>
      <view
            class="org.eclipse.actf.visualization.gui.msaa.checker.MSAAProblemsView"
            icon="icons/view16/problems.gif"
            id="org.eclipse.actf.visualization.gui.msaa.checker.MSAAProblemsView"
            category="org.eclipse.actf.visualization.gui.ui.views"
            name="%MSAAProblemsView.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.actf.visualization.gui.preferences.GuiPreferencePage"
            id="org.eclipse.actf.visualization.gui.preferences.GuiPreferencePage"
            name="%MSAAPreferencePage.name"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.actf.visualization.gui.preferences.GuiPreferenceInitializer"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.actf.visualization.gui.actionSet"
            label="aDesigner Target Window">
         <action
               class="org.eclipse.actf.visualization.gui.ui.actions.WindowListAction"
               id="org.eclipse.actf.visualization.gui.actions.WindowListAction"
               label="%WindowListAction.label"
               menubarPath="additions"
               style="pulldown"
               tooltip="%WindowListAction.tooltip"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.actf.visualization.gui.accessibilityActionSet"
            label="%Accessibility">
         <menu
            label="%Accessibility"
            path="additions"
            id="accessibilityMenu">
            <separator name="group1"/>
         </menu>
         <action
               class="org.eclipse.actf.visualization.gui.ui.actions.WindowListAction"
               id="org.eclipse.actf.visualization.gui.actions.WindowListAction"
               label="%WindowListAction.label"
               menubarPath="accessibilityMenu/group1"
               style="pulldown"
               tooltip="%WindowListAction.tooltip"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.eclipse.actf.visualization.gui.Startup"/>
   </extension>
   <extension
         point="org.eclipse.actf.visualization.gui.targetWindowData">
      <dataSourceProvider class="org.eclipse.actf.visualization.gui.targetdata.GuiTargetWindowDataProvider"/>
   </extension>

<extension point="org.eclipse.core.runtime.adapters">
  <factory adaptableType="org.eclipse.actf.accservice.swtbridge.AccessibleObject"
           class="org.eclipse.actf.visualization.gui.msaa.properties.AccessibleObjectPropertySourceAdapterFactory">
    <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
  </factory>
</extension>
</plugin>
