<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.actf.visualization.ui.views"
            class="org.eclipse.actf.visualization.presentation.ui.views.RoomView"
            id="org.eclipse.actf.visualization.presentation.ui.views.RoomView"
            name="%presentation.tab.title">
      </view>
   </extension>

</plugin>
